#commercialHero {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	height: 40vh;
	margin: auto
}

#commercialTitle {
	position: relative;
	z-index: 10;
	/* bottom: 5rem; */
	text-align: center
}

#commercialHeader {
	max-width: 100%;
}

.bodyContainer {
	margin: 0 1.25rem 1.25rem 1.25rem;
}

.bodyText {
	margin-top: 1.25rem;
}

@media only screen and (min-width: 1000px) {
	#commercialHero {
		height: 60vh;
		width: 80vw;
	}

	.bodyContainer {
		width: 75vw;
		margin: auto;
	}
}

@media only screen and (min-width: 2000px) {
	#commercialHero {
		height: 60vh;
		width: 60vw;
	}
}