#commercialHero {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	height: 40vh;
}

#commercialTitle {
	display: absolute;
	bottom: 1.25rem;
}

.bodyContainer {
	margin: 1.25rem;
}

.bodyText {
	margin-top: 1.25rem;
}