#contactTitle {
	text-align: center;
	margin: 1rem; 
}

#titleImage {
	margin: 0 auto 0.75rem auto;
	width: 80%;
	height: 75%;
}

#about {
	margin: 1.25rem;
}

#aboutContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bioDiv {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.formDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formElement {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
}

.formElement input, .formElement textarea,
.formElement select {
	border: none;
	outline: none;
	background-color: white;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03); 
	padding: 0.5rem;
}

.formElement textarea {
	padding: 1rem;
}

.formElement label {
	margin-bottom: 5px;
}

#submit {
	margin: 1rem 0 0.5rem 0;
	padding: 0.5rem;
}

@media only screen and (min-width: 1000px) {
	#titleImage {
		width: 50%;
		height: 50%;
	}
}

/* @media only screen and (min-width: 1500px) {
	#titleImage {
		height: 70vh;
		width: auto;
	}
}

@media only screen and (min-width: 2000px) {
	#titleImage {
		height: 70vh;
		width: auto;
	}
} */