#contactTitle {
	text-align: center;
	margin: 1rem; 
}

#titleImage {
	margin: 0 auto 0.75rem auto;
	width: 80%;
	height: 75%;
}

#about {
	margin: 1.25rem;
}

#aboutContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bioDiv {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#contact_portrait_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#contact_header {
	padding: 0 3rem;
}

#tab_list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	border-style: solid;
}

#tab_list a {
	cursor: pointer;
	width: 100%;
	text-align: center;
}

#tab_list a:not(:last-child) {
	border-right: solid black;
}

#tab_list a {
	padding: 0.5rem;
}

#selected_form {
	width: 80%;
}

.formDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formElement {
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

.formElement input, .formElement textarea,
.formElement select {
	border: none;
	outline: none;
	background-color: white;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03); 
	padding: 0.5rem;
}

.formElement textarea {
	padding: 10px;
}

.formElement label {
	margin-bottom: 5px;
}

#submit {
	padding: 1rem 0;
    margin: 1rem 0;
	background-color: #d8ae83;
	outline: none;
	border: none;
	border-radius: 5px;
}

#submit:hover {
	cursor: pointer;
	/* background-color: #018eb9; */
	background-color: white;
	color: brown;
}

@media only screen and (min-width: 1000px) {
	#titleImage {
		width: 50%;
		height: 50%;
	}

	/* #contact_portrait_container {
		flex-direction: row;
	} */
}

/* @media only screen and (min-width: 1500px) {
	#titleImage {
		height: 70vh;
		width: auto;
	}
}

@media only screen and (min-width: 2000px) {
	#titleImage {
		height: 70vh;
		width: auto;
	}
} */