#contactTitle {
	text-align: center;
	margin: 0
}

#titleImage {
	margin: 0 auto 0.75rem auto;
	width: 100%;
}

#about {
	margin: 1.25rem;
}

#aboutTitle {
	margin-bottom: 0.5rem;
	text-align: center;
}

#aboutContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bioDiv {
	width: 100%;
}

.formDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formElement {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}