.gallery { /* Flexbox may be a better option to display images of different sizes */
	display: flex;
	flex-wrap: wrap;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	/* width: 70%; */
}

.photoSet {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.photoWrapper {
	display: block;
	visibility: hidden;
	position: relative;
	z-index: 50;
	width: 100%;
}

.photoContainer {
	/* border-radius: 10px; */
	margin: .2rem;
	z-index: 1;
	text-align: center;
	position: relative;
	min-height: 60vh;
	width: 60vw;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
}

/* .portraitPhoto {
	z-index: 1;
	position: relative;
	overflow: hidden;
	margin: .2rem;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	height: 60vh;
	flex-grow: 1;
}

.landscapePhoto {
	z-index: 1;
	position: relative;
	overflow: hidden;
	margin: .2rem;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	width: 100%;
	height: auto;
} */

.photo {
	max-height: 100%;
	min-width: 100%;
	vertical-align: bottom;
	flex-grow: 1;
}

.photo_set {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem auto;
	justify-content: center;
}

/* .photoSetPhoto {
	z-index: 1;
	position: relative;
	overflow: hidden;
	margin: .2rem;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	height: 60vh;
	flex-grow: 1;
	max-width: 100%;
} */

.landscapePhoto {
	z-index: 1;
	position: relative;
	overflow: hidden;
	margin: .2rem;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	width: 60vw;
	height: 60vh;
	flex-grow: 1;
	max-width: 100%;
}

.portraitPhoto {
	z-index: 1;
	position: relative;
	overflow: hidden;
	margin: .2rem;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	height: 70vh;
	width: 30vw;
	flex-grow: 1;
	max-width: 100%;
}

.caption {
	height: 0;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 0;
	z-index: 1;
	position: absolute;
	background: linear-gradient(
		to bottom,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0.7) 100%
	);
	transition-property: bottom, opacity;
	transition: height .5s ease-in-out;
	bottom: 0;
	position: absolute;
}

.caption h1 {
	color: white;
	height: 20%;
	position: relative;
	transition-delay: 0.3s;
	margin: 0;
}

.photoContainer:hover .caption {
	height: 100%;
}

@media only screen and (min-width: 1000px) {
	.photoContainer {
		width: 30vw;
		min-height: 80vh;
	}

	#gallery {
		margin: 0;
	}
}