/* #gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin: 5rem;
} */

#gallery { /* Flexbox may be a better option to display images of different sizes */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 5rem;
}

.photoContainer {
	border-radius: 10px;
	margin: .5rem;
	/* max-height: 100%; */
	object-fit: contain;
}

.photoContainer:after {
	content: '';
	display: block;
	flex-grow: 10;
}

.photo {
	border-radius: 10px;
	height: 24vh;
	/* width: auto;
	height: 30vh; */
}