/* #gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin: 5rem;
} */

#gallery { /* Flexbox may be a better option to display images of different sizes */
	display: flex;
	flex-wrap: wrap;
	margin: 5rem 0.5rem;
	justify-content: center;
}

.photoContainer {
	border-radius: 10px;
	margin: .2rem;
	object-fit: cover;
	width: 30vw;
	cursor: pointer;
}

.photoContainer:after {
	content: '';
	display: block;
	flex-grow: 1;
}

.photo {
	max-height: 100%;
	min-width: 100%;
	vertical-align: bottom;
	flex-grow: 1;
}