.heroSection {
    height: 55vh;
    width: auto;
    display: flex;
}

.heroImage {
    height: 100%;
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 700px) {
  .heroSection {
      height: 70vh
  }
}

@media only screen and (min-width: 1000px) {
    .heroSection {
        height: 85vh
    }
  }