.imageWrapper {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  overscroll-behavior: none; 
}

#home_social_icons {
  display: none;
}

#mainTitle {
  position: absolute;
  z-index: 10;
  top: 18%;
  left: 12%;
  /* color: #95715c; */
  color: #faebd7;
  /* color: white; */
  padding: 1rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 1000px) {
  #home_social_icons {
    position: absolute;
    width: 20%;
    bottom: 5rem;
    margin-left: 3rem;
    display: flex;
  }

  #mainTitle {
    top: 35%
  }
}
