.imageWrapper {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

#home {
  display: flex;
  overflow: hidden;
  overscroll-behavior: none;
}

#homeBackgrounds {
  display: flex;
  flex-direction: row;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  margin: auto;
}

@keyframes slideUp {
  0% {
    transform: translateY(50%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
  }
}

.hero_title {
  z-index: 160;
  margin: 0;
  padding: 0;
  color: #faebd7;
  padding: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  animation: 0.7s ease-out 0s 1 slideUp;
  /* animation-duration: /* the duration of the animation 
  animation-timing-function: /* how the animation will behave 
  animation-delay: /* how long to delay the animation from starting 
  animation-iteration-count: how many times the animation will play 
  animation-name: slideInFromLeft; */
}

#home_social_icons {
  display: none;
}

#arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.leftArrow {
  position: absolute;
  left: 2rem;
}

.rightArrow {
  position: absolute;
  right: 2rem;
}

@media (min-width: 700px) {
  #arrows {
    padding: 8rem;
  }

  .hero_title {
    font-size: 24px;
  }
}

@media (min-width: 1000px) {
  #home_social_icons {
    position: absolute;
    bottom: 3rem;
    /* margin-left: 3.5rem; */
    right: 3rem;
    display: flex;
  }

  /* #arrows {
    padding: 10rem;
  } */

  .leftArrow {
    left: 25%;
  }

  .rightArrow {
    right: 25%;
  }

  #mainTitle {
    top: 35%;
  }
  .hero_title {
    font-size: 32px;
  }

  #arrows {
    padding: 0 30vw;
  }
}

@media (min-width: 1500px) {
  .hero_title {
    font-size: 32px;
  }
}
