.imageWrapper {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

#home {
  display: flex;
  height: 100vh;
  /* overflow: hidden;
  overscroll-behavior: none; */
  position: relative;
}

.background {
  height: 100%;
  width: auto;
}

/* @media (min-width: 800px) {
  #mobileBackground {
    position: relative;
    overflow: hidden;
  }
} */
