#lifestyleHero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 90%;
}

#lifestyleTitle {
  position: absolute;
  z-index: 10;
  left: 0.5em;
}

#img1 {
  position: relative;
  right: 1rem;
  width: 40%;
}

#img2 {
  position: absolute;
  z-index: 10;
  right: 5rem;
  width: 30%;
  bottom: -1rem;
}

#img3 {
  position: absolute;
  right: 0;
  width: 30%;
  top: 1rem;
}

@media only screen and (min-width: 600px) {
  #lifestyleHero {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  #lifestyleHero {
    width: 75%;
  }

  #img1 {
    right: 4.5rem
  }

  #img2 {
    bottom: -3rem;
    right: 12rem;
    width: 25%;
  }

  #img3 {
    right: 2.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  #lifestyleHero {
    width: 40%;
  }
}
