#lifestyleHero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 90%;
  /* background-color: antiquewhite; */
}

#lifestyleTitle {
  position: absolute;
  z-index: 10;
  left: 0.5em;
  color: #43536E;
}

@media only screen and (min-width: 600px) {
  #lifestyleHero {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  #lifestyleHero {
    width: 75%;
  }
}

@media only screen and (min-width: 1500px) {
  #lifestyleHero {
    width: 50%;
  }

  #lifestyleTitle {
    left: -0.5rem;
  }
}
