.colorStrip {
  width: 100vw;
  background-color: antiquewhite;
  padding-top: 3rem;
}

#lifestyleHero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 90%;
  /* background-color: antiquewhite; */
}

#lifestyleTitle {
  position: absolute;
  z-index: 10;
  left: 0.5em;
  color: #43536E;
}

#img1 {
  position: relative;
  /* right: 1rem; */
  width: 35%;
  bottom: 1rem;
  border: 1px solid white;
}

#img2 {
  position: absolute;
  z-index: 10;
  right: 4rem;
  border: 1px solid white;
  width: 25%;
  bottom: -1rem;
}

#img3 {
  position: absolute;
  right: 1rem;
  width: 25%;
  top: .5rem;
  z-index: 10;
  border: 1px solid white;
  
}

@media only screen and (min-width: 600px) {
  #lifestyleHero {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  #lifestyleHero {
    width: 75%;
  }

  #img1 {
    right: 3.5rem;
    border: 5px solid white;
  }

  #img2 {
    bottom: -4rem;
    right: 12.5rem;
    border: 5px solid white;
    width: 25%;
  }

  #img3 {
    right: 2.5rem;
    border: 5px solid white;
  }
}

@media only screen and (min-width: 1500px) {
  #lifestyleHero {
    width: 50%;
  }

  #lifestyleTitle {
    left: -0.5rem;
  }

  #img1 {
    right: 2rem
  }

  #img2 {
    bottom: -4rem;
    right: 11rem;
    border: 5px solid white;
    width: 28%;
  }

  #img3 {
    right: 3rem;
  }
}
