#hamburger {
	padding: 1rem;
	cursor: pointer;
	width: 4rem;
	height: auto;
	color: #8a5b40;
	background-color: #faebd7;
	border-bottom-right-radius: 20px;
	box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.5);
	overflow: visible
}

#logo {
	cursor: pointer;
}

#hamburger:hover {
	transform: rotateY('360deg');
}

.hamburgerContainer {
	display: flex;
	position: fixed;
	align-items: center;
	width: 100vw;
	z-index: 150;
	overflow: visible;
	/* background-color: #faebd7; */
	/* background-color: hsl(150, 100%, 98%, 50%); */
}

#menu {
	text-align: left;
	font-size: 1.7rem;
}

.menuItem {
	margin: 0;
	padding: 1rem 0;
	letter-spacing: 0.1em;
	transition: 0.4s;
	/* color: #ffffff; */
	text-decoration: none;
	cursor: pointer;
}

.menuItem:hover {
	color: white;
	color: brown;
	/* background-color: #95715c; */
	/* background-color: #faebd7;  */
	background-color: #ffffff;
	/* padding: 24px 10px; */
	padding: 1rem 2rem;
}

.titleHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5rem; 
}

#title {
	margin-bottom: 0 auto 3.5rem auto;
	text-align: left;
	letter-spacing: 0.025em;
}

ul li .sIcon {
	height: 2rem;
	width: 2rem;
	position: relative;
	margin: 0 0.8rem;
	text-align: center;
	display: block;
	position: relative;
	cursor: pointer;
}

#sIcon0:before {
	background: rebeccapurple
}

#sIcon1:hover {
	background: #3b5999;
}

#sIcon2:hover {
	background: #dd4b39;
}

.iconContainer {
	display: flex;
}

#top {
	z-index: 100;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#closeMenu {
	position: relative;
	width: 2rem;
	cursor: pointer;
}

#carouselContainer {
	display: flex;
	position: relative;
	z-index: 50;
}

@media only screen and (min-width: 1000px) {
	#navbar_menu {
		display: flex;
	}

	#logo {
		padding: 0 2rem;
		margin: 0;
	}

	#menu {
		font-size: 1rem;
		font-weight: normal;
	}

	#menu ul{
		display: flex;
		flex-direction: row;
	}

	.menuItem {
		padding: 1rem;
		letter-spacing: 0.15em;
	}

	.menuItem:hover {
		padding: 1rem 2rem;
	}

	.titleHeader {
		flex-direction: row;
		padding: 0
	}

	.titleHeader ul {
		display: flex;
	}

	#closeMenu, .hamburgerContainer, #hamburger, .hamburgerLines, #top, .sIcon, .iconContainer {
		display: none
	}

	#title {
		margin-bottom: 0 auto 3.5rem auto;
		text-align: left;
		letter-spacing: 0.1em;
	}
}